@import url("https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url(../../images);

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;

}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none; 
	color: red;
	transition: color 0.2s ease;
}

a:hover {
	color: blue;
	text-decoration: none;
}